.blogs-page {
    padding-top: 180px;

    h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 98.5%;
        letter-spacing: -0.05em;
        color: var(--cs-dark);
        text-align: center;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .breadcrumb {
        @include breadcrumbs;
    }

    .blogs__container {
        .blog {
            max-width: inherit;
            padding: 5px;
            margin-bottom: 70px;

            &__info {
                max-width: 739px;
                margin-left: 55px;

                a {
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 98.5%;
                    letter-spacing: -0.05em;
                    color: var(--cs-dark);
                    margin-bottom: 12px;
                }

                p {
                    margin-top: 23px;
                    margin-bottom: 80px;
                }

                .btn-main {
                    @include btn-main;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 98.5%;
                    letter-spacing: -0.05em;
                    color: var(--cs-grey);
                    max-width: 130px;
                    padding: 14px 10px;

                    &--waves {
                        @include waves;
                        @include waves-gold;
                    }

                    &--gold {
                        @include btn-gold;
                    }
                }
            }

            &:hover {
                .btn-main {
                    color: var(--cs-grey);
                }
            }
        }
    }

    .blogs {
        padding: 0;
        &__top {
            margin-top: 20px;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(18, 34, 61, 0.1);
        }

        .blog {
            &__info {
                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    margin-top: 20px;
                    margin-bottom: 80px;
                }

                .btn-main {
                    @include btn-main;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 98.5%;
                    letter-spacing: -0.05em;
                    color: var(--cs-grey);
                    max-width: 130px;
                    padding: 14px 10px;

                    &--waves {
                        @include waves;
                        @include waves-gold;
                    }

                    &--gold {
                        @include btn-gold;
                    }
                }
            }

            .img-wrap {
                img {
                    max-width: 425px;
                    min-height: 390px;
                }
            }

            &:hover {
                .btn-main {
                    color: var(--cs-grey);
                }
            }
        }
    }
}
