.header {
    background: transparent;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    transition: all ease-in-out .4s;
    background-color: var(--cs-dark);
    cursor: default;

    .logo {
        padding-right: 180px;

        img {
            min-width: 100px;
        }
    }

    .burger {
        @include burger;
        display: none
    }

    .mobile-menu {
        @include mobile-menu;
        display: none
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__top,
    &__bottom {
        @include flex-all-sb;
    }

    &__top {
        padding-left: 90px;
        position: relative;
        z-index: 11;
    }

    &__bottom {
        background-color: var(--cs-light);
        padding: 11px 90px;
        position: absolute;
        width: 100%;
        top: 70px;
        transition: all ease-in-out .4s;
        border-bottom: 1px solid rgba(18, 34, 61, 0.2);
    }

    .nav {
        ul {
            @include flex-v-center;
            gap: 49px;
            list-style: none;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;

            .active>a {
                color: var(--cs-accent-1);
            }


            a {
                display: block;
                padding: 8px 0;
                font-weight: 400;
                font-size: 12px;
                line-height: 98.5%;
                color: var(--cs-light);
                transition: color ease-in-out .4s;

                &:hover {
                    color: var(--cs-accent-1);
                }
            }
        }
    }

    &__right {
        @include flex-v-center;
        max-width: 380px;
        width: 100%;
    }

    &__links-group {
        @include flex-v-center;
        width: 100%;

        .btn-main {
            @include btn-main;
            font-size: 14px;
            line-height: 98.5%;
            letter-spacing: -0.05em;

            &--waves {
                @include waves;
                @include waves-blue;
            }

            &--blue {
                @include btn-blue;
                padding: 28px 18px;
            }

            &--login {
                @include flex-all-center;
                gap: 10px;
                background: rgba(255, 255, 255, 0.1);
                padding: 27px 18px;
                backdrop-filter: blur(20px);

                svg {
                    transition: all ease-in-out .4s;
                }

                &:hover {
                    svg {
                        transform: scale(1.4);
                    }
                }
            }
        }
    }

    &__left {
        @include flex-v-center;
    }

    @include socials;

    &__link {
        font-weight: 400;
        font-size: 12px;
        line-height: 98.5%;
        letter-spacing: -0.05em;
        color: var(--cs-dark);
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 3px;
        margin-right: 15px;
        position: relative;
        border-right: 1px solid rgba(18, 34, 61, .2);
        transition: all ease-in-out .4s;

        &:hover {
            color: var(--cs-accent-1);

            &::before {
                transform: translateY(-50%) scale(1.2);
            }
        }

        &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all ease-in-out .4s;
        }

        &--mail {
            &::before {
                background-image: url('../images/icon/email.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto;
            }
        }

        &--phone {
            &::before {
                background-image: url('../images/icon/phone.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto;
            }
        }
    }

    .languages {
        margin-right: 20px;

        &__active {
            @include flex-v-center;
            padding-right: 7px;
            cursor: pointer;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-width: 2px 0 0 2px;
                border-style: solid;
                border-color: var(--cs-dark);
                top: calc(50% + 0px);
                right: 0;
                transform: rotate(-135deg);
                transform-origin: top;
                transition: .4s ease-in-out;
            }

            .flag-wrap {
                width: 12px;
            }

            img {
                border-radius: 50px;
            }

            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 98.5%;
                letter-spacing: -0.05em;
                margin-left: 3px;
                text-transform: uppercase;
                color: var(--cs-dark);
            }

            &.active {
                &::after {
                    transform: rotate(45deg) translate(2px, -2px);
                }
            }
        }
    }

    &.active-scroll {
        .header__top {
            background-color: var(--cs-dark);
        }

        .header__bottom {
            top: -70px;
        }
    }
}

.home-header {
    .header {
        background-color: transparent;

        &__bottom {
            border-bottom: none;
        }
    }
}
