.main-screen {
    padding-top: 178px;
    padding-bottom: 108px;
    background-image: url('../images/home/main-screen-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin-top: 64px;
        span {
            font-family: 'Graphik', sans-serif;
            font-weight: 500;
            font-size: 11.0407px;
            line-height: 13px;
            letter-spacing: 0.26em;
            color: var(--white);
        }

        h1 {
            font-weight: 400;
            font-size: 85px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--white);
            margin-top: 117px;
            margin-bottom: 40px;
            max-width: 523px;
        }

        p {
            font-family: 'Graphik';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 180%;
            color: var(--cs-light);
            margin-top: 0;
            margin-bottom: 65px;
            max-width: 415px;
        }

        a {
            display: flex;
            font-weight: 400;
            font-size: 15px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-light);
            padding-right: 37px;
            max-width: fit-content;
            transition: all ease-in-out .4s;
            @include circle-arrow;


            &:hover {
                color: var(--cs-accent-1);

                &::after {
                    transform: scale(1.1) translateY(-50%);
                }
            }
        }
    }

    .widget-small {
        background: rgba(248, 250, 255, 0.05);
        backdrop-filter: blur(20px);
        border-top: 1px solid var(--cs-accent-2);
        padding-top: 64px;
        padding-bottom: 65px;
        padding-left: 25px;
        padding-right: 25px;

        h2 {
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--white);
            margin-top: 0;
            margin-bottom: 40px;
        }
    }
}

.stats {
    padding: 40px 0;
    border-bottom: 1px solid rgba(18, 34, 61, 0.1);

    &__container {
        @include flex-all-sb;
        max-width: 1588px;
        margin: 0 auto;
    }

    .info {
        position: relative;

        &:not(:last-child) {
            padding-right: 100px;
        }

        &:not(:last-child)::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 60px;
            background-color: rgba(18, 34, 61, 0.1);
            right: 0;
            bottom: 0;
        }

        h3 {
            font-weight: 400;
            font-size: 40px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 27px;
            margin-bottom: 15px;
        }
        span {
            font-family: 'Graphik';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 100%;
            color: var(--cs-grey);
        }
    }
}

.regions {
    position: relative;
    padding: 140px 0;

    &__top {
        @include flex-all-sb;
        align-items: flex-end;
        margin-bottom: 25px;


        span {
            font-weight: 500;
            font-size: 11.0407px;
            line-height: 13px;
            letter-spacing: 0.26em;
            color: var(--cs-dark);
        }
        h2 {
            font-weight: 400;
            font-size: 40px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 40px;
            margin-bottom: 0;
        }
    }

    .controls {
        @include flex-v-center;
        flex-direction: row-reverse;
        gap: 15px;
    }

    &__btns {
        @include flex-all-center;
        width: 40px;
        height: 40px;
        border: 1px solid var(--cs-dark);
        border-radius: 50%;
        position: static;
        margin: 0;

        &::after {
            color: var(--cs-dark);
            font-size: 10px;
        }

    }

    .region {
        max-width: 580px;

        &__info {
            @include flex-all-center;
            margin-top: 20px;

            span {
                font-weight: 400;
                font-size: 20px;
                line-height: 98.5%;
                letter-spacing: -0.05em;
                color: var(--cs-dark);
            }

            a {
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
                letter-spacing: -0.05em;
                color: var(--cs-dark);
                margin-left: 20px;
                padding-left: 20px;
                padding-right: 35px;
                border-left: 1px solid rgba(18, 34, 61, 0.2);
                transition: all ease-in-out .4s;
                @include circle-arrow;

                &::after {
                    width: 22px;
                    height: 22px;
                    filter: invert(1);
                }

                &:hover {
                    color: var(--cs-accent-1);

                    &::after {
                        transform: translateX(5px) translateY(-50%);
                    }
                }
            }
        }
    }
}

.blocks {
    &__container {
        @include flex-all-sb;
        gap: 5px;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #F8FAFF;
        gap: 5px;
        padding: 25px;
        max-width: 344px;
        width: 100%;

        .circle-svg {
            @include flex-all-center;
            min-width: 70px;
            width: 70px;
            height: 70px;
            border-radius: 50px;
            background-color: var(--cs-accent-1);
            margin-right: 15px;
        }

        &:nth-child(even) {
            .circle-svg {
                background-color: #EDF0F8;
            }
        }

        p {
            font-family: 'Graphik', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            color: var(--cs-grey);
        }
    }
}

.categories {
    position: relative;
    padding: 140px 0;

    &__top {
        @include flex-all-sb;
        align-items: flex-end;
        margin-bottom: 25px;


        span {
            font-weight: 500;
            font-size: 11.0407px;
            line-height: 13px;
            letter-spacing: 0.26em;
            color: var(--cs-dark);
        }
        h2 {
            font-weight: 400;
            font-size: 40px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 40px;
            margin-bottom: 0;
        }
    }

    .controls {
        @include flex-v-center;
        flex-direction: row-reverse;
        gap: 15px;
    }

    &__btns {
        @include flex-all-center;
        width: 40px;
        height: 40px;
        border: 1px solid var(--cs-dark);
        border-radius: 50%;
        position: static;
        margin: 0;

        &::after {
            color: var(--cs-dark);
            font-size: 10px;
        }
    }

    .category {
        padding-top: 5px;
        background-color: #F8FAFF;
        max-width: 431px;
        display: block;

        &__images {
            position: relative;

            .img-main {
                position: relative;
                z-index: 11;
                display: block;
                transition: all ease-in-out .4s;
            }

            .img-hover {
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
            padding: 30px 20px;
            font-weight: 400;
            font-size: 20px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            transition: color ease-in-out .4s;
            @include circle-arrow;

            &::after {
                right: 20px;
                opacity: .5;
                filter: invert(1);
            }
        }

        &:hover {
            .category__images {
                .img-main {
                    opacity: 0;
                }
            }

            h3 {
                color: var(--cs-accent-1);

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .show-all {
        display: block;
        max-width: fit-content;
        margin-left: auto;
        margin-top: 40px;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        letter-spacing: -0.05em;
        color: var(--cs-dark);
        padding-right: 37px;
        transition: color ease-in-out .4s;
        @include circle-arrow;

        &::after {
            width: 22px;
            height: 22px;
            right: 2px;
            filter: invert(1);
        }

        &:hover {
            color: var(--cs-accent-1);
        }
    }
}

.deals {
    padding-top: 16px;
    padding-bottom: 70px;

    &__container {
        @include flex-v-center;
    }

    &__content {
        max-width: 652px;
        margin-left: 90px;

        span {
            font-family: 'Graphik', sans-serif;
            font-weight: 500;
            font-size: 11px;
            line-height: 12px;
            letter-spacing: 0.26em;
            color: var(--cs-dark);
        }

        h2 {
            font-weight: 400;
            font-size: 40px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 121px;
            margin-bottom: 40px;
        }

        p {
            font-family: 'Graphik', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 180%;
            color: var(--cs-grey);
            margin-top: 0;
            margin-bottom: 60px;
            max-width: 593px;
        }

        a {
            font-weight: 400;
            font-size: 15px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            padding-right: 37px;
            transition: color ease-in-out .4s;
            @include circle-arrow;

            &::after {
                filter: invert(1);
            }

            &:hover {
                color: var(--cs-accent-1);

                &::after {
                    transform: translateX(5px) translateY(-50%);
                }
            }
        }
    }
}

.faq {
    padding-top: 70px;
    padding-bottom: 120px;

    &__container {
        max-width: 827px;
        margin: 0 auto;

        span {
            display: block;
            font-family: 'Graphik';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 12px;
            letter-spacing: 0.26em;
            text-align: center;
            color: var(--cs-dark);
        }

        h2 {
            font-weight: 400;
            font-size: 40px;
            line-height: 98.5%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 41px;
            margin-bottom: 65px;
        }
    }

    .faqs {
        &__item:not(:last-child) {
            margin-bottom: 20px;
        }

        &__question {
            padding-bottom: 25px;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding-right: 70px;
            z-index: 11;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(18, 34, 61, 0.1);
            }

            &::after {
                content: "+";
                position: absolute;
                top: calc(50% - 20px);
                right: 40px;
                color: var(--cs-dark);
                font-family: 'Graphik';
                font-weight: 300;
                font-size: 30px;
                line-height: 100%;
                width: 10px;
                height: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(90deg);
                transition: all ease-out .4s;
            }
        }

        &__question-text {
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 0;
            margin-bottom: 0;
        }

        &__answer {
            height: 0;
            overflow: hidden;
            padding-bottom: 0;
            transition: all ease-in-out .4s;
            z-index: 11;
            position: relative;
        }

        &__answer-text {
            font-family: 'Graphik';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 130%;
            color: var(--cs-grey);
            margin-top: 0;
            margin-bottom: 0;
            max-width: 706pc;
        }

        &__item--active {
            .faqs__question {
                border-bottom: 0;

                &::after {
                    content: "-";
                    transform: rotate(0deg);
                }
            }
            .faqs__answer {
                height: auto;
                overflow: visible;
                border-top: none;
                padding-bottom: 56px;
                border-bottom: 1px solid rgba(18, 34, 61, 0.1);
            }
        }
    }
}

.banner {
    padding: 100px 0;
    background-image: url('../images/home/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
        max-width: 882px;
        margin: 0 auto;
        text-align: center;
    }

    h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.05em;
        margin-top: 0;
        margin-bottom: 40px;
        color: var(--cs-light);

        span {
            color: var(--cs-accent-2);
        }
    }

    a {
        @include btn-main;
        @include btn-gold;
        @include waves;
        @include waves-gold;
        max-width: 220px;
        color: var(--cs-grey);
        margin: 0 auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 98.5%;
        letter-spacing: -0.05em;
    }
}

.blogs {
    position: relative;
    padding: 120px 0;

    &__top {
        @include flex-all-sb;
        align-items: flex-end;
        margin-bottom: 25px;


        span {
            font-weight: 500;
            font-size: 11.0407px;
            line-height: 13px;
            letter-spacing: 0.26em;
            color: var(--cs-dark);
        }
        h2 {
            font-weight: 400;
            font-size: 40px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 40px;
            margin-bottom: 0;
        }
    }

    .controls {
        @include flex-v-center;
        flex-direction: row-reverse;
        gap: 15px;
    }

    &__btns {
        @include flex-all-center;
        width: 40px;
        height: 40px;
        border: 1px solid var(--cs-dark);
        border-radius: 50%;
        position: static;
        margin: 0;

        &::after {
            color: var(--cs-dark);
            font-size: 10px;
        }

    }

    .blog {
        background-color: var(--white);
        padding: 5px 6px;
        display: flex;
        align-items: center;
        max-width: 865px;

        .img-wrap {
            display: block;
            overflow: hidden;
            min-width: 325px;

            img {
                transition: all ease-in-out .4s;
            }
        }

        &__info {
            max-width: 354px;
            margin-left: 40px;

            a {
                font-weight: 400;
                font-size: 20px;
                line-height: 98.5%;
                letter-spacing: -0.05em;
                color: var(--cs-dark);
                display: block;
                margin-bottom: 10px;
                transition: color ease-in-out .4s;
            }

            span {
                font-family: 'Graphik', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 180%;
                color: var(--cs-dark);
                opacity: .5;
            }

            p {
                font-family: 'Graphik', sans-serif;
                font-weight: 400;
                font-size: 15px;
                line-height: 180%;
                margin-top: 40px;
                margin-bottom: 0;
                color: var(--cs-grey);
            }
        }

        &:hover {
            .img-wrap {
                img {
                    transform: scale(1.3);
                }
            }

            .blog__info {
                a {
                    color: var(--cs-accent-1);
                }
            }
        }
    }

    .show-all {
        display: block;
        max-width: fit-content;
        margin-left: auto;
        margin-top: 40px;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        letter-spacing: -0.05em;
        color: var(--cs-dark);
        padding-right: 37px;
        transition: color ease-in-out .4s;
        @include circle-arrow;

        &::after {
            width: 22px;
            height: 22px;
            right: 2px;
            filter: invert(1);
        }

        &:hover {
            color: var(--cs-accent-1);
        }
    }
}


.reviews {
    background-color: #F8FAFF;
    padding: 100px 0;

    h2 {
        font-family: 'Graphik', sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.26em;
        text-align: center;
        color: var(--cs-dark);
        margin-top: 0;
        margin-bottom: 42px;
    }

    .review {
        max-width: 870px;
        width: 100%;
        text-align: center;

        img {
            border-radius: 50%;
        }

        h3 {
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 20px;
            margin-bottom: 10px;
        }

        p {
            font-family: 'Graphik', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 180%;
            margin-top: 20px;
            margin-bottom: 20px;
            color: var(--cs-grey);
        }

        span {
            font-family: 'Graphik';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 180%;
            color: var(--cs-dark);
            opacity: .5;
        }
    }

    .swiper-scrollbar {
        background-color: rgba(18, 34, 61, 0.1);
        position: static;
        width: 90%;
        margin-left: 90px;
        margin-top: 40px;
        height: 2px;
        cursor: pointer;

        .swiper-scrollbar-drag {
            background-color: var(--cs-accent-2);
        }
    }

    &__all {
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: -0.05em;
        color: var(--cs-grey);
        @include flex-all-center;
        margin-top: 40px;

        a {
            color: var(--cs-grey);
            border-bottom: 1px solid var(--cs-grey);
            margin: 0 4px;
        }

        svg {
            margin-left: 10px;
        }
    }
}

.subscribe {
    position: relative;
    padding: 153px 0;
    background-image: url('../images/home/subscribe-bg.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    background-color: var(--cs-accent-2);

    &__container {
        max-width: 961px;
        margin-left: 155px;

    }

    &__subtitle {
        font-family: 'Graphik', sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.26em;
        color: var(--cs-grey);
    }

    h2 {
        font-weight: 400;
        font-size: 40px;
        line-height: 98.5%;
        letter-spacing: -0.05em;
        color: var(--cs-dark);
        margin-top: 61px;
        margin-bottom: 40px;
        max-width: 631px;

        span {
            color: #F8FAFF;
        }
    }

    .form {
        &__group {
            @include flex-v-center;
            gap: 5px;
            margin-bottom: 10px;
        }
        &__label {
            font-weight: 400;
            font-size: 12px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-bottom: 6px;
            display: block;
        }
        &__input {
            max-width: 446px;
            width: 100%;
            background: #F8FAFF;
            backdrop-filter: blur(20px);
            padding: 14px 20px;
            font-family: 'Graphik', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 180%;
            border: none;
            color: var(--cs-dark);

            &::placeholder {
                opacity: .5;
            }
        }
        &__btn {
            @include flex-all-center;
            width: 50px;
            height: 50px;
            background-color: var(--cs-dark);

            svg {
                color: var(--cs-accent-2);
                transition: all ease-in-out .4s;
            }

            &:hover {
                svg {
                    transform: scale(1.2);
                    color: var(--cs-accent-1);
                }
            }
        }

        .custom-checkbox {
            @include custom-checkbox;
            @include flex-v-center;
        }
    }
}

.site-info {
    background-color: #29354e;
    backdrop-filter: blur(20px);
    padding: 50px 0;

    &__container {
        @include flex-all-sb;
        max-width: 1374px;
        margin: 0 auto;

        h4 {
            font-weight: 400;
            font-size: 15px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            margin-top: 0;
            margin-bottom: 15px;
            color: var(--cs-light);
        }
    }

    .rating__blocks,
    .payment__logos {
        @include flex-v-center;
        gap: 15px;
    }

    .partners__logos {
        display: flex;
        align-items: flex-end;
        gap: 15px;
    }

    .partners__logos img:last-child {
        margin-bottom: 5px;
    }
}
