.person {
    padding-top: 180px;
    padding-bottom: 0;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 90px;
        padding: 5px 110px 140px 30px;
        background-color: #F8FAFF;
    }

    &__slider {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    &-main {
        max-height: 830px;
        max-width: 600px;
        margin-left: 5px;
        margin-right: 0;
    }

    &-thumbs {
        max-height: 830px;
        margin-right: 0;
        margin-left: 0;
    }

    .person-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      }

    .person-thumbs .swiper-slide-thumb-active {
        opacity: 1;
    }

    .person-main img {
        min-height: 830px;
        max-height: 830px;
        max-width: 600px;
        min-width: 600px;
    }

    .person-thumbs img {
        min-height: 204px;
        max-height: 204px;
        max-width: 146px;
        min-width: 146px;
    }

    .person-main .swiper-button-next,
    .person-main .swiper-button-prev {
        background: rgba(237, 240, 248, 0.2);
        backdrop-filter: blur(5px);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all ease-in-out .4s;
    }

    .person-main .swiper-button-next::after,
    .person-main .swiper-button-prev::after {
        color: #EDF0F8;
        font-size: 10px;
    }

    .person-main .swiper-button-next:hover,
    .person-main .swiper-button-prev:hover {
        transform: scale(1.2);
    }

    &__content {
        padding-top: 165px;

        h2 {
            font-weight: 400;
            font-size: 40px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 0;
            margin-bottom: 20px;
        }

        .position {
            font-family: 'Graphik', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: rgba(18, 34, 61, 0.5);
        }

        .title {
            font-weight: 400;
            font-size: 20px;
            line-height: 98.5%;
            letter-spacing: -0.05em;
            color: var(--cs-dark);
            margin-top: 0;
            margin-bottom: 30px;
        }


        .licenses {
            @include flex-v-center;
            gap: 86px;
            margin-top: 70px;
            margin-bottom: 40px;

            ul {
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 20px;

                li {
                    font-family: 'Graphik', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 180%;
                    color: var(--cs-grey);

                    &:not(:last-child) {
                        margin-bottom: 2px;
                    }

                    &::marker {
                        color: var(--cs-accent-2);
                    }
                }
            }
        }

        .info {
            padding-bottom: 90px;
            border-bottom: 1px solid rgba(18, 34, 61, 0.1);
            &__wrapp {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            span {
                font-family: 'Graphik', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 180%;
                color: var(--cs-dark);
            }

            span.info__title {
                color: rgba(18, 34, 61, 0.5);
                padding-left: 25px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 5px;
                    left: 0;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: auto;
                }
            }

            &--date::before {
                background-image: url('../images/icon/date.svg');
            }

            &--citizenship::before {
                background-image: url('../images/icon/citizenship.svg');
            }

            &--location::before {
                background-image: url('../images/icon/location.svg');
            }

            &--status::before {
                background-image: url('../images/icon/status.svg');
            }

            &--lang::before {
                background-image: url('../images/icon/lang.svg');
            }
        }

        .person-about {
            margin-top: 70px;
            padding-bottom: 40px;
            border-bottom: 1px solid rgba(18, 34, 61, 0.1);
            margin-bottom: 40px;

            p {
                font-family: 'Graphik', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 180%;
                color: var(--cs-grey);
                margin-top: 38px;
                margin-bottom: 0;
            }

            .text-bold {
                font-weight: 500;
                font-size: 18px;
                color: var(--cs-dark);
            }
        }

        .characters,
        .experience {
            padding-bottom: 40px;
            border-bottom: 1px solid rgba(18, 34, 61, 0.1);
            margin-bottom: 40px;

            p {
                font-family: 'Graphik', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 180%;
                color: var(--cs-grey);
                margin-top: 0px;
                margin-bottom: 0;
            }
        }

        .person-contacts {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: 70px;

            @include socials;

            .title {
                margin-bottom: 10px;
            }

            p {
                font-family: 'Graphik', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 180%;
                color: rgba(18, 34, 61, 0.5);
                margin-top: 0;
                margin-bottom: 20px;
            }


            .socials {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                max-width: fit-content;

                .list {
                    padding-left: 0;
                    margin-bottom: 0;

                    &__link {
                        width: 40px;
                        height: 40px;
                        background: var(--cs-accent-1);
                        border-radius: 50%;
                        position: relative;
                        z-index: 1;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            transition: box-shadow 0.5s ease-out;
                            z-index: -1;
                        }

                        .icon {
                            width: 15px;
                            height: 15px;
                            fill: var(--white);
                            opacity: 1;
                        }

                        &:hover {
                            .icon {
                                transform: none;
                            }
                            &.viber {
                                &:hover::before {
                                    box-shadow: inset 0 0 0 20px #665CAC;
                                }
                            }
                            &.messenger {
                                &:hover::before {
                                    box-shadow: inset 0 0 0 20px #006AFF;
                                }
                            }
                            &.instagram {
                                &:hover::before {
                                    box-shadow: inset 0 0 0 20px #DD2A7B;
                                }
                            }
                            &.twitter,
                            &.telegram {
                                &:hover::before {
                                    box-shadow: inset 0 0 0 20px #1DA1F2;
                                }
                            }
                            &.linkedin {
                                &:hover::before {
                                    box-shadow: inset 0 0 0 20px #2877b5;
                                }
                            }
                            &.youtube {
                                &:hover::before {
                                    box-shadow: inset 0 0 0 20px #FF0000;
                                }
                            }
                            &.facebook {
                                &:hover::before {
                                    box-shadow: inset 0 0 0 20px #3b5998;
                                }
                            }
                        }
                    }
                }
            }

            .call-me {
                display: block;
                max-width: 236px;
                width: 100%;
                font-weight: 400;
                font-size: 15px;
                line-height: 98.5%;
                text-align: center;
                letter-spacing: -0.05em;
                color: var(--cs-dark);
                padding: 17px 20px;
                border: 1px solid var(--cs-dark);
                transition: all ease-in-out .4s;

                &:hover {
                    color: var(--white);
                    background-color: var(--cs-dark);
                }
            }
        }
    }
}
