<div class="blogs-page blogs">
    <div class="wrapper">
        <h1>
            Our Blog
        </h1>
        <div aria-label="Breadcrumbs" role="navigation">
            <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="/" class="pathway">
                        <span itemprop="name">
                            Home
                        </span>
                    </a>
                    <span class="divider"></span>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                    <span itemprop="name">
                        Our Blog
                    </span>
                </li>
            </ul>
        </div>
        <div class="blogs__container">
            <div class="blog">
                <a href="#" class="img-wrap">
                    <img src="images/blogs/3.jpg" alt="How to sail: a beginner’s guide to the basics">
                </a>
                <div class="blog__info">
                    <a href="#">
                        How to sail: a beginner’s guide to the basics
                    </a>
                    <span>
                        15 / 01 / 2022
                    </span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio
                        nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit. Nunc
                        fringilla arcu phasellus integer amet massa sit pharetra. Amet tortor integer
                        quam fermentum ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi
                        ultrices...
                    </p>
                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                        Read more
                        <div class="waves">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="blogs cat1">
            <div class="blogs__top">
                <h2>
                    Category #1
                </h2>
                <div class="controls">
                    <div class="swiper-button-next blogs__btns"></div>
                    <div class="swiper-button-prev blogs__btns"></div>
                </div>
            </div>
            <div class="slider__container">
                <div class="swiper blogs__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="blog">
                                <a href="#" class="img-wrap">
                                    <img src="images/blogs/4.jpg" alt="Marina di Nettuno">
                                </a>
                                <div class="blog__info">
                                    <a href="#">
                                        Marina di Nettuno
                                    </a>
                                    <span>
                                        15 / 01 / 2022
                                    </span>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. A duis venenatis
                                        turpis turpis at odio nulla diam feugiat. Ridiculus laoreet
                                        maecenas gravida urna suscipit. Nunc fringilla arcu phasellus
                                        integer amet massa sit pharetra. Amet tortor integer quam fermentum
                                        ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi ultrices...
                                    </p>
                                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                                        Read more
                                        <div class="waves">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog">
                                <a href="#" class="img-wrap">
                                    <img src="images/blogs/5.jpg" alt="Marina di Nettuno">
                                </a>
                                <div class="blog__info">
                                    <a href="#">
                                        Marina di Nettuno
                                    </a>
                                    <span>
                                        15 / 01 / 2022
                                    </span>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. A duis venenatis
                                        turpis turpis at odio nulla diam feugiat. Ridiculus laoreet
                                        maecenas gravida urna suscipit. Nunc fringilla arcu phasellus
                                        integer amet massa sit pharetra. Amet tortor integer quam fermentum
                                        ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi ultrices...
                                    </p>
                                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                                        Read more
                                        <div class="waves">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog">
                                <a href="#" class="img-wrap">
                                    <img src="images/blogs/1.jpg" alt="Marina di Nettuno">
                                </a>
                                <div class="blog__info">
                                    <a href="#">
                                        Marina di Nettuno
                                    </a>
                                    <span>
                                        15 / 01 / 2022
                                    </span>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. A duis venenatis
                                        turpis turpis at odio nulla diam feugiat. Ridiculus laoreet
                                        maecenas gravida urna suscipit. Nunc fringilla arcu phasellus
                                        integer amet massa sit pharetra. Amet tortor integer quam fermentum
                                        ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi ultrices...
                                    </p>
                                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                                        Read more
                                        <div class="waves">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blogs cat2">
            <div class="blogs__top">
                <h2>
                    Category #2
                </h2>
                <div class="controls">
                    <div class="swiper-button-next blogs__btns"></div>
                    <div class="swiper-button-prev blogs__btns"></div>
                </div>
            </div>
            <div class="slider__container">
                <div class="swiper blogs__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="blog">
                                <a href="#" class="img-wrap">
                                    <img src="images/blogs/5.jpg" alt="Marina di Nettuno">
                                </a>
                                <div class="blog__info">
                                    <a href="#">
                                        Marina di Nettuno
                                    </a>
                                    <span>
                                        15 / 01 / 2022
                                    </span>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. A duis venenatis
                                        turpis turpis at odio nulla diam feugiat. Ridiculus laoreet
                                        maecenas gravida urna suscipit. Nunc fringilla arcu phasellus
                                        integer amet massa sit pharetra. Amet tortor integer quam fermentum
                                        ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi ultrices...
                                    </p>
                                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                                        Read more
                                        <div class="waves">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog">
                                <a href="#" class="img-wrap">
                                    <img src="images/blogs/6.jpg" alt="Marina di Nettuno">
                                </a>
                                <div class="blog__info">
                                    <a href="#">
                                        Marina di Nettuno
                                    </a>
                                    <span>
                                        15 / 01 / 2022
                                    </span>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. A duis venenatis
                                        turpis turpis at odio nulla diam feugiat. Ridiculus laoreet
                                        maecenas gravida urna suscipit. Nunc fringilla arcu phasellus
                                        integer amet massa sit pharetra. Amet tortor integer quam fermentum
                                        ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi ultrices...
                                    </p>
                                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                                        Read more
                                        <div class="waves">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog">
                                <a href="#" class="img-wrap">
                                    <img src="images/blogs/9.jpg" alt="Marina di Nettuno">
                                </a>
                                <div class="blog__info">
                                    <a href="#">
                                        Marina di Nettuno
                                    </a>
                                    <span>
                                        15 / 01 / 2022
                                    </span>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. A duis venenatis
                                        turpis turpis at odio nulla diam feugiat. Ridiculus laoreet
                                        maecenas gravida urna suscipit. Nunc fringilla arcu phasellus
                                        integer amet massa sit pharetra. Amet tortor integer quam fermentum
                                        ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi ultrices...
                                    </p>
                                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                                        Read more
                                        <div class="waves">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blogs cat3">
            <div class="blogs__top">
                <h2>
                    Category #3
                </h2>
                <div class="controls">
                    <div class="swiper-button-next blogs__btns"></div>
                    <div class="swiper-button-prev blogs__btns"></div>
                </div>
            </div>
            <div class="slider__container">
                <div class="swiper blogs__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="blog">
                                <a href="#" class="img-wrap">
                                    <img src="images/blogs/7.jpg" alt="Marina di Nettuno">
                                </a>
                                <div class="blog__info">
                                    <a href="#">
                                        Marina di Nettuno
                                    </a>
                                    <span>
                                        15 / 01 / 2022
                                    </span>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. A duis venenatis
                                        turpis turpis at odio nulla diam feugiat. Ridiculus laoreet
                                        maecenas gravida urna suscipit. Nunc fringilla arcu phasellus
                                        integer amet massa sit pharetra. Amet tortor integer quam fermentum
                                        ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi ultrices...
                                    </p>
                                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                                        Read more
                                        <div class="waves">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog">
                                <a href="#" class="img-wrap">
                                    <img src="images/blogs/8.jpg" alt="Marina di Nettuno">
                                </a>
                                <div class="blog__info">
                                    <a href="#">
                                        Marina di Nettuno
                                    </a>
                                    <span>
                                        15 / 01 / 2022
                                    </span>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. A duis venenatis
                                        turpis turpis at odio nulla diam feugiat. Ridiculus laoreet
                                        maecenas gravida urna suscipit. Nunc fringilla arcu phasellus
                                        integer amet massa sit pharetra. Amet tortor integer quam fermentum
                                        ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi ultrices...
                                    </p>
                                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                                        Read more
                                        <div class="waves">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog">
                                <a href="#" class="img-wrap">
                                    <img src="images/blogs/10.jpg" alt="Marina di Nettuno">
                                </a>
                                <div class="blog__info">
                                    <a href="#">
                                        Marina di Nettuno
                                    </a>
                                    <span>
                                        15 / 01 / 2022
                                    </span>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. A duis venenatis
                                        turpis turpis at odio nulla diam feugiat. Ridiculus laoreet
                                        maecenas gravida urna suscipit. Nunc fringilla arcu phasellus
                                        integer amet massa sit pharetra. Amet tortor integer quam fermentum
                                        ipsum vitae lorem pulvinar lacus. Cursus enim eu laoreet mi ultrices...
                                    </p>
                                    <a href="#" class="btn-main btn-main--gold btn-main--waves">
                                        Read more
                                        <div class="waves">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
