<div class="contacts">
    <div class="wrapper">
        <div class="contacts__container">
            <div class="contacts__info">
                <div class="info">
                    <h1>
                        Contact us
                    </h1>
                    <div class="info__wrap">
                        <div class="socials">
                            <h3>
                                Have a question?
                            </h3>
                            <p>
                                Our managers are always ready to help
                            </p>
                            <ul class="list-reset list">
                                <li class="list__item">
                                    <a href="#" class="list__link telegram" target="_blank">
                                        <svg class="icon">
                                            <use xlink:href="images/sprite.svg#telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="list__item">
                                    <a href="#" class="list__link viber" target="_blank">
                                        <svg class="icon">
                                            <use xlink:href="images/sprite.svg#viber"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="list__item">
                                    <a href="#" class="list__link messenger" target="_blank">
                                        <svg class="icon">
                                            <use xlink:href="images/sprite.svg#messenger"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="socials">
                            <h3>
                                Follow us on:
                            </h3>
                            <p>
                                Stay tuned for more news
                            </p>
                            <ul class="list-reset list">
                                <li class="list__item">
                                    <a href="#" class="list__link instagram" target="_blank">
                                        <svg class="icon">
                                            <use xlink:href="images/sprite.svg#inst"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="list__item">
                                    <a href="#" class="list__link twitter" target="_blank">
                                        <svg class="icon">
                                            <use xlink:href="images/sprite.svg#twitter"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="list__item">
                                    <a href="#" class="list__link youtube" target="_blank">
                                        <svg class="icon">
                                            <use xlink:href="images/sprite.svg#youtube"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="list__item">
                                    <a href="#" class="list__link facebook" target="_blank">
                                        <svg class="icon">
                                            <use xlink:href="images/sprite.svg#facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info__block">
                            <h3>
                                Our contacts:
                            </h3>
                            <p>
                                Contact us as you like
                            </p>
                            <a href="mailto:examplemail@gmail.com" class="header__link header__link--mail">
                                examplemail@gmail.com
                            </a>
                            <a href="tel:+XXXXXXXXXXXX" class="header__link header__link--phone">
                                +XX XXXX XXX XXX
                            </a>
                        </div>
                    </div>
                </div>
                <div class="subscribe">
                    <div class="subscribe__container">
                        <h2>
                            Get €50 off your first booking!
                        </h2>
                        <span class="subscribe__subtitle">Save money with every booking</span>
                        <form class="form" action="#" method="POST">
                            <label class="form__label">
                                E-mail
                            </label>
                            <div class="form__group">
                                <input class="form__input" type="email" placeholder="Enter E-mail" name="mail" required>
                                <button class="btn-reset form__btn" type="submit">
                                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4434 6.15474C16.1855 6.47324 16.1855 7.52674 15.4434 7.84524L1.2855 13.9211C0.421378 14.2919 -0.375011 13.2771 0.189068 12.524L3.39583 8.24266C3.55004 8.03678 3.78337 7.905 4.03912 7.87936L10.9936 7.18295C11.2142 7.1609 11.2142 6.83908 10.9936 6.81703L4.03912 6.12062C3.78337 6.09498 3.55004 5.9632 3.39583 5.75732L0.189077 1.47592C-0.375011 0.722801 0.42137 -0.291882 1.2855 0.0789511L15.4434 6.15474Z" fill="currentColor"/>
                                    </svg>
                                </button>
                            </div>
                            <label class="custom-checkbox">
                              <input type="checkbox" class="custom-checkbox__field">
                              <span class="custom-checkbox__content">
                                I agree to our Privacy and Cookies Statement and Terms and Conditions
                              </span>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget widget-wrapper widget-small">
                <h2>
                    Choose your yacht in a couple of clicks
                </h2>
                <a href="http://www.booking-manager.com" style="display: none; color:#9999;text-decoration:none;font-size:10px;font-family:arial" > Yacht charter availability powered by booking-manager.com </a>
                <script>
                var configurationObject = {
                    companyid: "5144",
                    affiliateId: "",
                    view: "SmallSearchForm",
                    setlang: "en",
                    target: "_blank",
                    placeholderId: "",
                    frameName: "contacts-form",
                    frameHeight: "500",
                    frameWidth: "446",
                    scrolling: "auto",
                    align: "top",
                    frameborder: "0",
                    filter_country: "",
                    filter_region: "",
                    filter_service: "",
                    filter_base: "",
                    filter_flexibility: "on_day",
                    filter_service_type: "",
                    filter_kind: "",
                    filter_model: "",
                    filter_shipyard: "",
                    filter_length: "",
                    filter_cabins: "",
                    filter_berths: "",
                    filter_heads: "",
                    filter_price: "",
                    filter_yachtage: "-10000"
                };
                </script>
                <script src="https://www.booking-manager.com/wbm2/widgets/wbm2.js" ></script>
            </div>
        </div>
    </div>
</div>
