<div class="error-page">
    <div class="wrapper">
        <div class="error-page__container">
            <span>
                Oops, something went wrong...
            </span>
            <h1>
                404
            </h1>
            <h2>
                Page not found
            </h2>
            <p>
                You are on a 404 page because you entered the address of a page that
                no longer exists or has been moved to a different address.
            </p>
            <a href="/">
                Go to Main Page
                <div class="waves">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>
    </div>
</div>
