<div class="faq-page faq">
    <div class="wrapper">
        <div class="faq__container">
            <h1>
                FAQ
            </h1>
            <div aria-label="Breadcrumbs" role="navigation">
                <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/" class="pathway">
                            <span itemprop="name">
                                Home
                            </span>
                        </a>
                        <span class="divider"></span>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                        <span itemprop="name">
                            FAQ
                        </span>
                    </li>
                </ul>
            </div>
            <ul class="list-reset faqs">
                <li class="faqs__item faqs__item--active">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            Is it possible to rent a yacht for a week for the whole family?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. Non risus ornare mattis eu non mauris auctor id. Arcu nullam amet arcu
                            fringilla et parturient. Urna mauris placerat feugiat facilisis nisl et neque vulputate faucibus. Tristique odio
                            aliquet neque imperdiet ut sed sit felis elementum. Habitant lectus odio nunc venenatis morbi elit sagittis.
                            <br><br>
                            Mauris amet diam varius donec fermentum arcu et. Senectus arcu in in purus id. Aliquam dolor urna nunc
                            risus sem cras aliquam lobortis. Volutpat vitae auctor donec volutpat integer nec proin. Sed interdum
                            ut magna ultricies. Odio eget ac iaculis orci tristique sed purus. Dictum commodo dui vel imperdiet
                            turpis nibh viverra ac velit. Lobortis risus dolor sagittis nisl amet scelerisque. Ut tortor vitae et
                            hac lorem enim orci nunc.
                            <br><br>
                            Ultrices sit eget fringilla sed egestas. Nunc praesent aliquam neque luctus. Mollis tempor cursus enim
                            viverra eget ut. Ac donec sem sagittis nunc scelerisque montes arcu. Quis consectetur suspendisse nisi
                            ultricies amet. Viverra malesuada cursus id magna viverra nulla egestas ullamcorper blandit. Nisi mi
                            ultri
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How can I choose a route for travel?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How can I choose a route for travel?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How can I choose a route for travel?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How can I choose a route for travel?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
                <li class="faqs__item">
                    <div class="faqs__question">
                        <p class="faqs__question-text">
                            How much will it cost to book a yacht in Greece ?
                        </p>
                    </div>
                    <div class="faqs__answer">
                        <p class="faqs__answer-text">
                            Lorem ipsum dolor sit amet consectetur. A duis venenatis turpis turpis at odio nulla diam feugiat. Ridiculus laoreet maecenas gravida urna suscipit.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
