<section class="above-footer">
    <div class="wrapper">
        <div class="above-footer__container">
            <div class="above-footer__block">
                <a href="/" class="logo">
                    <img src="/images/icon/logo.svg" alt="RebateMarkets logo">
                </a>
                <p class="above-footer__text">
                    24/7 support before and after the transaction. We are daily we check thousands of yachts so that the client saves time.
                </p>
            </div>
            <nav class="above-footer__menu menu">
                <div class="menu__block">
                    <h3 class="menu__title">
                        Regions
                    </h3>
                    <ul class="list-reset menu__list">
                        <li>
                            <a href="#">
                                Malta
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Croatia
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Greece
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Italy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Ibiza
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Cannes
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Zadar
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu__block">
                    <h3 class="menu__title">
                        EasyOnSail
                    </h3>
                    <ul class="list-reset menu__list">
                        <li>
                            <a href="#">
                                Yacht charter
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Regions
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu__block">
                    <h3 class="menu__title">
                        Information
                    </h3>
                    <ul class="list-reset menu__list">
                        <li>
                            <a href="#">
                                FAQs
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Cookie Policy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="contacts">
                <h3 class="contacts__title">
                    Follow us on:
                </h3>
                <div class="socials">
                    <ul class="list-reset list">
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon facebook">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon twitter">
                                    <use xlink:href="images/sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon instagram">
                                    <use xlink:href="images/sprite.svg#inst"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon youtube">
                                    <use xlink:href="images/sprite.svg#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon linkedin">
                                    <use xlink:href="images/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="btn-main">
                    Fast Quote
                </a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <a href="#" target="_blank" class="footer__link"></a>
            <strong class="copyright">
                ©All rights reserved. 2023. EasyOnSail
            </strong>
            <button type="button" class="scroll-top d-none">
                <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 9L8.5 1.5L1 9" stroke="#71717A" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </button>
        </div>
    </div>
</footer>
