<section class="large-form">
    <div class="wrapper">
        <form accept="#" class="large-form__container" method="POST">
            <div class="left-part">
                <h2>
                    Free quote
                </h2>
                <div class="form">
                    <div class="form-group">
                        <label>
                            Country:
                        </label>
                        <select data-placeholder="Select Type...">
							<option value="0">Choose country</option>
							<option value="Turkey">Turkey</option>
							<option value="Greece">Greece</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>
                            Date:
                        </label>
                        <input type="date" name="date">
                    </div>
                    <div class="form-group">
                        <label>
                            Sailing area:
                        </label>
                        <select data-placeholder="Select Type...">
							<option value="0">Choose area</option>
							<option value="Turkey">area 1</option>
							<option value="Greece">area 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>
                            Base:
                        </label>
                        <select data-placeholder="Select Type...">
							<option value="0">Choose base</option>
							<option value="Turkey">base 1</option>
							<option value="Greece">base 2</option>
                        </select>
                    </div>
                    <div class="form-group form-group__textarea">
                        <label>
                            Additional data
                        </label>
                        <textarea name="comment" placeholder="Choose country"></textarea>
                    </div>
                    <label class="custom-checkbox">
                      <input type="checkbox" class="custom-checkbox__field">
                      <span class="custom-checkbox__content">Captain needed</span>
                    </label>
                </div>
            </div>
            <div class="right-part">
                <h2>
                    How to contact you
                </h2>
                <div class="form">
                    <div class="form-group">
                        <label>
                            Your name*
                        </label>
                        <input type="text" name="name" placeholder="Your name*" required>
                    </div>
                    <div class="form-group">
                        <label>
                            Your e-mail
                        </label>
                        <input type="text" name="email" placeholder="Your e-mail">
                    </div>
                    <div class="form-group">
                        <label>
                            Your phone*
                        </label>
                        <input type="tel" name="phone" placeholder="+380 (__) __-__-____" required>
                    </div>
                    <button class="btn-reset btn-main btn-main--gold btn-main--waves" type="submit">
                        Send
                        <div class="waves">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
