<header class="header">
    <div class="header__container">
        <div class="header__top">
            <nav class="nav">
                <ul class="menu">
                    <li>
                        <a href="#">Yacht charter</a>
                    </li>
                    <li>
                        <a href="#">Regions</a>
                    </li>
                    <li>
                        <a href="#">
                            Our team
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            FAQ
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="/" class="logo">
                <img src="/images/icon/logo.svg" alt="EasyOnSail logo">
            </a>
            <div class="header__right">
                <div class="header__links-group">
                    <a href="" class="btn-main" type="button">
                        Fast Quote
                    </a>
                    <a href="#" class="btn-main">
                        <span>
                            Log in
                        </span>
                    </a>
                </div>
            </div>
            <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger__line"></span>
            </button>
        </div>
        <div class="header__bottom">
            <div class="header__left">
                <a href="mailto:rebate.markets@gmail.com" class="contacts__link contacts__link--mail">
                    rebate.markets@gmail.com
                </a>
                <a href="tel:+XXXXXXXXXXXX" class="contacts__link contacts__link--phone">
                    + XX-XXXXXXXXXX (Free)
                </a>
                <div class="socials">
                    <ul class="list-reset list">
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon instagram">
                                    <use xlink:href="images/sprite.svg#inst"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon twitter">
                                    <use xlink:href="images/sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon youtube">
                                    <use xlink:href="images/sprite.svg#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon facebook">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="languages">
                <div class="languages__block">
                    <div class="languages__active">
                        <div class="flag-wrap"><img src="/images/uk.png" alt="uk_gb"></div>
                        <span>EN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu" data-menu>
            <div class="mobile-menu__container">
                <a href="/" class="logo">
                    <img src="/images/icon/logo.svg" alt="RebateMarkets logo">
                </a>
                <nav class="nav">
                    <ul class="menu">
                        <li>
                            <a href="#">Yacht charter</a>
                        </li>
                        <li>
                            <a href="#">Regions</a>
                        </li>
                        <li>
                            <a href="#">
                                Our team
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                FAQ
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
