<section class="main-screen">
    <div class="wrapper">
        <div class="main-screen__container">
            <div class="main-screen__content">
                <span>
                    Yacht charters around the world
                </span>
                <h1>
                    The best solution for yacht rental
                </h1>
                <p>
                    Over 40,000 private yachts for rent and
                    bareboat charters near me and around the world for your next yachting trip
                </p>
                <a href="#">
                    Favourite destinations
                </a>
            </div>
            <div class="widget widget-wrapper widget-small">
                <h2>
                    Choose your yacht in a couple of clicks
                </h2>
                <iframe width="446" height="500" frameborder="0" scrolling="auto" src="https://www.booking-manager.com/wbm2/page.html?companyid=5144&setlang=en&view=SmallSearchForm&target=_blank" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</section>
<section class="stats">
    <div class="wrapper">
        <div class="stats__container">
            <div class="stats__block info">
                <div class="info__image-wrap">
                    <img src="images/home/stat-1.png" alt="Yachting destinations we know">
                </div>
                <h3>
                    150 +
                </h3>
                <span>
                    Yachting destinations we know
                </span>
            </div>
            <div class="stats__block info">
                <div class="info__image-wrap">
                    <img src="images/home/stat-2.png" alt="Available in our database">
                </div>
                <h3>
                    15,000 yachts
                </h3>
                <span class="info__descript">
                    Available in our database
                </span>
            </div>
            <div class="stats__block info">
                <div class="info__image-wrap">
                    <img src="images/home/stat-3.png" alt="Pre- and post-transaction support">
                </div>
                <h3>
                    24/7
                </h3>
                <span>
                    Pre- and post-transaction support
                </span>
            </div>
        </div>
    </div>
</section>
<section class="regions">
    <div class="wrapper">
        <div class="regions__top">
            <div class="titles">
                <span>Choose your vacation location</span>
                <h2>
                    Regions for yachting
                </h2>
            </div>
            <div class="controls">
                <div class="swiper-button-next regions__btns"></div>
                <div class="swiper-button-prev regions__btns"></div>
            </div>
        </div>
        <div class="slider__container">
            <div class="swiper ragions__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="region">
                            <a href="#">
                                <img src="images/regions/turkey.jpg" alt="Turkey">
                            </a>
                            <div class="region__info">
                                <span>Turkey</span>
                                <a href="#">
                                    Show yachts
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="region">
                            <a href="#">
                                <img src="images/regions/greece.jpg" alt="Greece">
                            </a>
                            <div class="region__info">
                                <span>Greece</span>
                                <a href="#">
                                    Show yachts
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="region">
                            <a href="#">
                                <img src="images/regions/croatia.jpg" alt="Croatia">
                            </a>
                            <div class="region__info">
                                <span>Croatia</span>
                                <a href="#">
                                    Show yachts
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="region">
                            <a href="#">
                                <img src="images/regions/turkey.jpg" alt="Turkey">
                            </a>
                            <div class="region__info">
                                <span>Turkey</span>
                                <a href="#">
                                    Show yachts
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
