<div class="person">
    <div class="wrapper">
        <div class="person__container">
            <div class="person__slider">
                <div class="swiper person-main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="images/team/marianna/1-1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="images/team/marianna-kochevykh-2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="images/team/marianna/3-3.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="images/team/marianna-kochevykh.jpg" />
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
                  <div thumbsSlider="" class="swiper person-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="images/team/marianna/1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="images/team/marianna/2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="images/team/marianna/3.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="images/team/marianna/4.jpg" />
                        </div>
                    </div>
                  </div>
            </div>
            <div class="person__content">
                <h2>
                    Marianna Kochevykh
                </h2>
                <span class="position">
                    Captain / Skipper
                </span>
                <div class="licenses">
                    <div class="licenses__info">
                        <h3 class="title">
                            Licenses:
                        </h3>
                        <ul>
                            <li>Boat skipper #B3140728</li>
                            <li>ISSA Inshore Skipper #ISO8925</li>
                            <li>ISSA Professional VHF #V0782</li>
                            <li>ISSA Offshore Skipper #FS20704</li>
                        </ul>
                    </div>
                    <div class="licenses__img">
                        <img src="images/team/marianna/licenses.jpg" alt="Licenses">
                    </div>
                </div>
                <div class="info">
                    <h3 class="title">
                        Information:
                    </h3>
                    <div class="info__wrapp">
                        <span class="info__title info--date">Date of birth:</span>
                        <span>March 18, 1977</span>
                        <span class="info__title info--citizenship">Citizenship:</span>
                        <span>Ukraine</span>
                        <span class="info__title info--location">Permanent residence of:</span>
                        <span>Türkiye, Slovakia<br> live permanently in Fethiye, Türkiye since 2021. </span>
                        <span class="info__title info--status">Marital status:</span>
                        <span>Single, no children</span>
                        <span class="info__title info--lang">Languages:</span>
                        <span>Ukrainian and Russian, English – good professional level.</span>
                    </div>
                </div>
                <div class="person-about">
                    <h3 class="title">
                        My priorities:
                    </h3>
                    <p>
                        I carefully prepare each route, I love the sea and the beauty of the surrounding world, and
                        I can show them to the crew of any level of training. I always provide the team with a balance of
                        travel safety, basic sailing skills, outdoor activities and relaxation.
                        <br><br>
                        I am a fashion designer by education. From 1997 to 2016 worked as a PR in show biz (Ukraine).
                        In 2014, went out to the sea for the first time and couldn’t stop since then.Got my first license inSunSailingschool,
                        with practice in Croatia. I am totally in yachting since 2016, in each trip trying to go under sails as much as the weather allows.
                        <br><br>
                        To this moment I traveled more than 35,000 nautical miles on yachts, crossed the Atlantic Ocean twice,
                        was on charter routes in Spain, Italy, Greece, Croatia, Poland, Portugal, France, near Canary, Caribbean islands and Azores.
                        I steered yachts from 36 to 57 feet long, catamarans from 40 to 48 feet (including Lagoon 46, Saona 47, Bali 4.5).
                        Have experience organizing yacht travels from start to end, including yacht fleets up to 10 yachts.
                    </p>
                    <p class="text-bold">
                        Since 2020, I scored over 40 charter weeks along the Turkish seashore in the Aegean Sea.
                        I worked with charter companies LoveSail, E.G.G. Yachting, Pitter Yachtcharter, Dream Yacht Charter,
                        Irmak Yachting, Miknatis Yachting, Solar Yachting, Yelkenli Yachting.
                    </p>
                </div>
                <div class="characters">
                    <h3 class="title">
                        Key personal characteristics:
                    </h3>
                    <p>
                        professionalism, responsibility, sociability, negotiability. I am bright, sporty and cheerful!
                    </p>
                </div>
                <div class="experience">
                    <h3 class="title">
                        Total experience:
                    </h3>
                    <p>
                        More than 35,000 nautical miles
                    </p>
                </div>
                <div class="person-contacts">
                    <div class="socials">
                        <h3 class="title">
                            Have a question?
                        </h3>
                        <p>
                            Our managers are always ready to help
                        </p>
                        <ul class="list-reset list">
                            <li class="list__item">
                                <a href="https://t.me/#" class="list__link telegram" target="_blank">
                                    <svg class="icon">
                                        <use xlink:href="images/sprite.svg#telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="list__item">
                                <a href="viber://chat?number=%2B#" class="list__link viber" target="_blank">
                                    <svg class="icon">
                                        <use xlink:href="images/sprite.svg#viber"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="list__link messenger" target="_blank">
                                    <svg class="icon">
                                        <use xlink:href="images/sprite.svg#messenger"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="call-me" href="+XXXXXXXXXXXX">
                        Call me
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
