<div class="regions-page">
    <div class="wrapper">
        <h1>
            Regions
        </h1>
        <div aria-label="Breadcrumbs" role="navigation">
            <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="/" class="pathway">
                        <span itemprop="name">
                            Home
                        </span>
                    </a>
                    <span class="divider"></span>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                    <span itemprop="name">
                        Regions
                    </span>
                </li>
            </ul>
        </div>
        <nav class="regions-nav">
            <ul class="list-reset">
                <li>
                    <a href="#">
                        America
                    </a>
                </li>
                <li>
                    <a href="#">
                        Pacific ocean and Oceania
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        Indian Ocean
                    </a>
                </li>
                <li>
                    <a href="#">
                        Northern Europe
                    </a>
                </li>
                <li>
                    <a href="#">
                        Asia
                    </a>
                </li>
                <li>
                    <a href="#">
                        Atlantic Ocean
                    </a>
                </li>
                <li>
                    <a href="#">
                        Caribbean
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mediterranean Sea
                    </a>
                </li>
            </ul>
            <a class="regions-all" href="#">
                All regions
            </a>
        </nav>
        <div class="regions">
            <h2>
                Yacht charter in Indian Ocean
            </h2>
            <p class="regions-description">
                Speaking about winter yachting destinations, it is surely the Indian Ocean;
                the one washes shoes of Madagascar, Maldives, Seychelles and other islands.
                Seychelles is probably one of the best spots for skilled sailors, but charter
                companies may ask you to fill out a skipper summary. These islands can boast
                of the largest fleet in the Indian Ocean: renting a catamaran is extremely popular
                here since one has less sediment and can easily cruise to shallow lagoons. As
                well as the majority of exotic regions, it’s prohibited here to cruise at night
                because of coral reefs and shallows...
                <a href="#">
                    Read more
                </a>
            </p>
            <p class="regions-description description-hidden text-hidden">
                Speaking about winter yachting destinations, it is surely the Indian Ocean;
                the one washes shoes of Madagascar, Maldives, Seychelles and other islands.
                Seychelles is probably one of the best spots for skilled sailors, but charter
                companies may ask you to fill out a skipper summary. These islands can boast
                of the largest fleet in the Indian Ocean: renting a catamaran is extremely popular
                here since one has less sediment and can easily cruise to shallow lagoons. As
                well as the majority of exotic regions, it’s prohibited here to cruise at night
                because of coral reefs and shallows
                <br><br>
                Speaking about winter yachting destinations, it is surely the Indian Ocean;
                the one washes shoes of Madagascar, Maldives, Seychelles and other islands.
                Seychelles is probably one of the best spots for skilled sailors, but charter
                companies may ask you to fill out a skipper summary. These islands can boast
                of the largest fleet in the Indian Ocean: renting a catamaran is extremely popular
                here since one has less sediment and can easily cruise to shallow lagoons. As
                well as the majority of exotic regions, it’s prohibited here to cruise at night
                because of coral reefs and shallows
            </p>
            <div class="regions__container">
                <div class="region">
                    <a href="#">
                        <img src="images/regions/seychelles.jpg" alt="Seychelles">
                    </a>
                    <div class="region__info">
                        <span>Seychelles</span>
                        <a href="#">
                            Show yachts
                        </a>
                    </div>
                </div>
                <div class="region">
                    <a href="#">
                        <img src="images/regions/madagascar.jpg" alt="Madagascar">
                    </a>
                    <div class="region__info">
                        <span>Madagascar</span>
                        <a href="#">
                            Show yachts
                        </a>
                    </div>
                </div>
                <div class="region">
                    <a href="#">
                        <img src="images/regions/maldives.jpg" alt="Maldives">
                    </a>
                    <div class="region__info">
                        <span>Maldives</span>
                        <a href="#">
                            Show yachts
                        </a>
                    </div>
                </div>
                <div class="region">
                    <a href="#">
                        <img src="images/regions/sri-lanka.jpg" alt="Sri Lanka">
                    </a>
                    <div class="region__info">
                        <span>Sri Lanka</span>
                        <a href="#">
                            Show yachts
                        </a>
                    </div>
                </div>
                <div class="region">
                    <a href="#">
                        <img src="images/regions/oman.jpg" alt="Oman">
                    </a>
                    <div class="region__info">
                        <span>Oman</span>
                        <a href="#">
                            Show yachts
                        </a>
                    </div>
                </div>
                <div class="region">
                    <a href="#">
                        <img src="images/regions/mauritius.jpg" alt="Mauritius">
                    </a>
                    <div class="region__info">
                        <span>Mauritius</span>
                        <a href="#">
                            Show yachts
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
