<section class="categories team">
    <div class="wrapper">
        <h2>
            Our team
        </h2>
        <div aria-label="Breadcrumbs" role="navigation">
            <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="/" class="pathway">
                        <span itemprop="name">
                            Home
                        </span>
                    </a>
                    <span class="divider"></span>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                    <span itemprop="name">
                        Our team
                    </span>
                </li>
            </ul>
        </div>
        <div class="team__container">
            <a href="" class="category person">
                <div class="category__images">
                    <img class="img-main" src="images/team/marianna-kochevykh.jpg" alt="Marianna Kochevykh">
                    <img class="img-hover" src="images/team/marianna-kochevykh-2.jpg" alt="Marianna Kochevykh">
                </div>
                <div class="person__content">
                    <h3>
                        Marianna Kochevykh
                    </h3>
                    <span>
                        Captain / Skipper
                    </span>
                </div>
            </a>
            <a href="" class="category person">
                <div class="category__images">
                    <img class="img-main" src="images/team/evgen-romanov.jpg" alt="Evgen Romanov">
                    <img class="img-hover" src="images/team/evgen-romanov.jpg" alt="Evgen Romanov">
                </div>
                <div class="person__content">
                    <h3>
                        Evgen Romanov
                    </h3>
                    <span>
                        Captain / Skipper
                    </span>
                </div>
            </a>
            <a href="" class="category person">
                <div class="category__images">
                    <img class="img-main" src="images/team/daniel-cooper.jpg" alt="Daniel Cooper">
                    <img class="img-hover" src="images/team/daniel-cooper.jpg" alt="Daniel Cooper">
                </div>
                <div class="person__content">
                    <h3>
                        Daniel Cooper
                    </h3>
                    <span>
                        Captain / Skipper
                    </span>
                </div>
            </a>
            <a href="" class="category person">
                <div class="category__images">
                    <img class="img-main" src="images/team/peter-kochevykh.jpg" alt="Peter Kochevykh">
                    <img class="img-hover" src="images/team/peter-kochevykh.jpg" alt="Peter Kochevykh">
                </div>
                <div class="person__content">
                    <h3>
                        Peter Kochevykh
                    </h3>
                    <span>
                        Captain / Skipper
                    </span>
                </div>
            </a>
        </div>
    </div>
</section>
