@include big-desktop {
    .blocks {
        &__container {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            max-width: fit-content;
            margin: 0 auto;
        }
    }
    .blogs {
        .blog {
            &__info {
                margin-left: 20px;
                p {
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
    }
}

@include small-desktop {
    .main-screen {
        &__content {
            h1 {
                font-size: 65px;
                line-height: 78px;
            }
        }
        .widget-small {
            max-width: 400px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 34px;
            padding-bottom: 35px;

            iframe {
                width: 100%;
            }
        }
    }
    .stats {
        .info {
            &:not(:last-child) {
                padding-right: 80px;
            }
        }
    }
    .regions,
    .categories,
    .blogs {
        padding: 100px 0;
    }
    .deals {
        &__content {
            margin-left: 30px;
            max-width: 452px;

            h2 {
                font-size: 30px;
                margin-top: 60px;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 30px;
            }
        }
    }
    .blogs {
        .blog {
            .img-wrap {
                min-width: 300px;
            }
            &__info {
                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .reviews {
        .review {
            max-width: 600px;
        }
    }
    .subscribe {
        padding: 100px 0;
        background-image: none;

        &__container {
            margin: 0 auto;
            max-width: 630px;
        }

        &__subtitle {
            display: block;
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        .form {
            &__input {
                max-width: inherit;
            }
        }
    }
}

@include tablet {
    .main-screen {
        background-position: inherit;

        &__content {
            h1 {
                font-size: 45px;
                line-height: 58px;
                max-width: 350px;
                margin-top: 70px;
                margin-bottom: 20px;
            }
        }
    }
    .stats {
        .info {
            &:not(:last-child) {
                padding-right: 40px;
                margin-right: 40px;
            }
            h3 {
                font-size: 30px;
            }
        }
    }
    .regions,
    .categories,
    .blogs {
        padding: 70px 0;

        &__top {
            h2 {
                font-size: 30px;
                margin-top: 20px;
            }
        }
    }
    .deals {
        &__container {
            flex-direction: column-reverse;
        }

        &__content {
            max-width: inherit;
            margin-left: 0;
            margin-bottom: 30px;
        }
    }
    .blogs {
        .blog {
            max-width: inherit;
            &__info {
                max-width: 454px;
                p {
                    -webkit-line-clamp: 7;
                }
            }
        }
    }
}

@include small-tablet {
    .main-screen {
        padding-top: 140px;
        padding-bottom: 50px;

        &__content {
            h1 {
                font-size: 35px;
                line-height: 48px;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
    .stats {
        .info {
            &:not(:last-child) {
                padding-right: 20px;
                margin-right: 20px;
            }
            h3 {
                font-size: 24px;
            }
        }
    }
    .blocks {
        &__container {
            grid-template-columns: 1fr;
        }
    }
    .deals {
        padding-bottom: 50px;

        &__content {
            h2 {
                margin-top: 20px;
                font-size: 24px;
            }
            p {
                margin-bottom: 15px;
            }
        }
    }
    .faq {
        padding-top: 50px;
        padding-bottom: 50px;

        &__container {
            h2 {
                font-size: 24px;
                margin-top: 20px;
                margin-bottom: 40px;
            }
        }

        .faqs {
            &__question-text {
                font-size: 17px;
            }
        }
    }
}

@include mobile {
    .main-screen {
        &__container {
            flex-direction: column;
            align-items: center;
        }
        &__content {
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 30px;

            h1 {
                margin-top: 25px;
            }
            p {
                max-width: inherit
            }
        }
        .widget-small {
            max-width: inherit;
            width: 100%;
        }
    }
    .stats {
        &__container {
            flex-direction: column;
        }
        .info {
            text-align: center;

            &:not(:last-child) {
                padding-right: 0;
                margin-right: 0;
                margin-bottom: 15px;
            }
            &:not(:last-child)::after {
                content: none;
            }
        }
    }
    .regions,
    .categories,
    .blogs {
        padding: 50px 0;

        &__top {
            h2 {
                font-size: 24px;
            }
        }
    }
    .categories {
        .category {
            max-width: inherit;

            &__images {
                img {
                    width: 100%;
                }
            }
        }
    }
    .faq {
        .faqs {
            &__question {
                padding-right: 30px;

                &::after {
                    right: 10px;
                }
            }
        }
    }
    .banner {
        h2 {
            font-size: 20px
        }
    }
    .blogs {
        .blog {
            flex-direction: column;

            .img-wrap {
                min-width: 200px;
            }
            &__info {
                margin-left: 0;
                margin-top: 10px;

                p {
                    -webkit-line-clamp: 3;
                }
            }
        }
    }
    .reviews {
        padding: 50px 0;

        .review {
            p {
                font-size: 16px;
                line-height: 160%;
            }
        }
    }
    .subscribe {
        padding: 50px 0;

        h2 {
            margin-top: 20px;
            font-size: 30px;
        }
    }
};
