// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Prosto One", sans-serif;
  --content-width: 1740px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --black: #000;
  --cs-dark: #12223D;
  --cs-grey: #4D4E51;
  --cs-light: #EDF0F8;
  --cs-accent-1: #4E93D6;
  --cs-accent-hover-1: #4588C9;
  --cs-accent-2: #F5C678;
  --cs-accent-hover-2: #F0BB63;
}
